.place__website {
    margin: 0;
    padding: 0;
    width: 100%;
    align-self: end;
}

@media screen and (max-width: 680px) {
    .place__website {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100% - 16px * 2);
    }
}
